.form-submit {
  font-size: 14px;

  .title {
    font-size: 1.3em;
    font-weight: 500;
  }
  .count-people {
    width: 2.5em;
    height: 2.5em;
    border: 1px solid $title-color;
    border-radius: 50%;
  }

  .form-check-input {
  	border-color: $title-color;
    width: 1.15em;
    height: 1.15em;
  }

  .form-check-label {
  	font-size: 1.15em;
  }
    
  .form-check .invalid-tooltip {
    top: 70%;
    right: 9%;
    left: 0;
    width: max-content;
  }

  .form-control {
    font-size: 1.3em;
    height: calc(2.8em + calc(var(--bs-border-width) * 2));
    min-height: calc(2.8em + calc(var(--bs-border-width) * 2));
  }

  .form-floating label {
    font-size: 1.2em;
    padding: 0.8em 0.75em;
    opacity: 0.6;
  }

  .invalid-tooltip {
    font-size: 0.875em;
  }
}

.mb-3-5 {
  margin-bottom: 2.2em !important;
}

.lead {
  font-size: 1em;
}

.modal-title {
  font-size: 0.9em;
}

.card {
  background-color: #eadeee;
  font-size: 0.8em;

  ul {
    padding-left: 0.3em;

    li {
      list-style-type: none;
    }
  }
  
  .card-text hr {
    margin: 0.5em 0;
  }
}

.anim-show {
	opacity: 0;
	transition: 1s;
	animation: show 1s 1;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
 }